@use '../abstracts' as *
/* main theme colors */

body
	background-color: #000000

#container
	background-color: black
	color: map-get($greenscheme, "primetext")

.header,
.footer
	border-bottom: 1px solid goldenrod
	background-color: map-get($greenscheme, "accent")
	color: map-get($greenscheme, "accent1V")

.left
	background-color: $elderberry

.center
	background-color: $gen1

.right
	background-color: $gen4