@use '../abstracts' as *
/* Links */

a
	color: var(--blue-step-8)
	text-decoration: none
	font-size: 18px
	&:visited
		color: $deep-brown
	&:hover
		color: map-get($brownish, "hi-light")

.inline-list
	display: inline

header a:link
	padding: 5px 8px
