/** @format */

:root {
  --color-primary: #1919e6;
  --color-secondary: #5858da;
  --color-tertiary: #7f19e6;
  --color-color-4: #730ed8;
  --color-color-5: #197fe6;
  --color-color-6: #0e73d8;
  --color-color-7: #baba78;
}
