/** @format */
//From the create a color profile site
:root {
  --color-primary: #1919e6;
  --color-secondary: #5858da;
  --color-tertiary: #7f19e6;
  --color-color-4: #730ed8;
  --color-color-5: #197fe6;
  --color-color-6: #0e73d8;
  --color-color-7: #baba78;

  --color-primary1: #197fe6;
  --color-secondary1: #5899da;
  --color-tertiary1: #df3adf;
  --color-color-41: #df8c3a;
  --color-color-51: #3adf3a;
  --color-color-61: #d80ed8;
  --color-color-71: #d1a67b;

  --color-primary2: #192de6;
  --color-secondary2: #5864da;
  --color-tertiary2: #6c19e6;
  --color-color-42: #600ed8;
  --color-color-52: #1993e6;
  --color-color-62: #0e86d8;
  --color-color-72: #8289c9;
  //Orange
  --orange-50: #fff7ed;
  --orange-100: #ffedd4;
  --orange-200: #ffd6a7;
  --orange-300: #ffb86a;
  --orange-400: #ff8904;
  --orange-500: #ff6900;
  --orange-600: #f54900;
  --orange-700: #ca3500;
  --orange-800: #9f2d00;
  --orange-900: #7e2a0c;
  --orange-950: #441306;
  //Green
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #b9f8cf;
  --green-300: #7bf1a8;
  --green-400: #05df72;
  --green-500: #00c950;
  --green-600: #00a63e;
  --green-700: #008236;
  --green-800: #016630;
  --green-900: #0d542b;
  --green-950: #032e15;
  //purple
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d4ff;
  --purple-300: #dab2ff;
  --purple-400: #c27aff;
  --purple-500: #ad46ff;
  --purple-600: #9810fa;
  --purple-700: #8200db;
  --purple-800: #6e11b0;
  --purple-900: #59168b;
  --purple-950: #3c0366;
  //blue
  --blue-step-0: #dedcff;
  --blue-step-1: #bcbaff;
  --blue-step-2: #969aff;
  --blue-step-3: #697bfe;
  --blue-step-4: #155dfc;
  --blue-step-5: #224ac4;
  --blue-step-6: #23388f;
  --blue-step-7: #1f275e;
  --blue-step-8: #161730;
}
// background --blue-step-7 - text --orange-300
