/**
 * Tabs
 *
 * @format
 */

@use '../abstracts' as *;
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 20%;
  height: 3rem;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Pepper {
  background-color: purple;
}
#Anise {
  background-color: #6868ac;
}
#Tulsi {
  background-color: green;
}
#Sage {
  background-color: blue;
}
#Balm {
  background-color: orange;
}

.name,
.scale,
.origin,
.source,
.bloom {
  font-weight: 800;
}
.split {
  display: flex;
  gap: 2rem;
}
.box {
  max-width: 30%;
}
